<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">
        <property name="log.home" value="/Users/liujun/logs/javenliu-app-2nd"></property>
        <property name="log.level" value="DEBUG"></property>
    </springProfile>
    <springProfile name="stg">
        <property name="log.home" value="/Users/liujun/logs/javenliu-app-2nd"></property>
        <property name="log.level" value="INFO"></property>
    </springProfile>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -[traceId:%X{traceId}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/app_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -[traceId:%X{traceId}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>RROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -[traceId:%X{traceId}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="app"/>
        <appender-ref ref="error"/>
    </root>

    <logger name="com.javenliu.springcloud" level="INFO" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="app"/>
        <appender-ref ref="error"/>
    </logger>

</configuration>